---
import { Hero } from '~/components/home/Hero';
import Layout from '~/components/layouts/Layout.astro';
---

<Layout >
	<head>
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Matheus Lasserre</title>
	</head>
	<Hero client:load />
</Layout>


